<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!--<add key="connectionstring" value="data source=desktop-asdmnu7\jhoxys;initial catalog=dbventa;integrated security=true"/>-->
		<add key="connectionString" value="Data Source=DESKTOP-K5JKD30\JHOXYS;Initial Catalog=DBVenta;Integrated Security=True"/>
	</appSettings>
</configuration>